USE [Ticket]
GO
/****** Object:  StoredProcedure [dbo].[Task_AutoActFenHong01_15_Group4]    Script Date: 2/9/2018 3:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--游标实例  利用游标循环表 根据userid赋值
ALTER PROCEDURE [dbo].[Task_AutoActFenHong01_15_Group4]
AS
BEGIN

		/*** 20180210
			只执行Task_AutoActFenHong01_15_Group3, Task_AutoActFenHong16_31_Group3
			清除Task_AutoActFenHong01_15_Group4, Task_AutoActFenHong16_31_Group4
		***/
END

