USE [Ticket]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

if (exists (select 1 from sys.objects where name = N'FH2610BatchByDate'))
    drop proc FH2610BatchByDate
go

/*
	结算上月26号到当月10号的分红
	@fhdate: 结算日期
*/

CREATE PROCEDURE FH2610BatchByDate
@fhdate DateTime --分红结算日期
AS
BEGIN
	/** 1, 按用户层级由高到低生成用户临时表 Start**/
	--删除临时表
	IF EXISTS(SELECT 1 FROM tempdb..sysobjects WHERE id=OBJECT_ID('tempdb..#TUser'))
		DROP TABLE #TUser;
	
	
	--id: 用户Id, parentId: 父Id, orderId: 排序号
	CREATE TABLE #TUser(id INT, parentId INT, ordered INT IDENTITY, level INT);

	DECLARE @last INT = 0, --上一次临时表记录数
			@current INT = 0, --当前临时表记录数
			@level INT =0	--执行次数

	--插入用户根节点记录
	SET @level = 0
	
	INSERT INTO #TUser(id, parentId, level)
		SELECT Id, 0, @level FROM N_User WHERE ISNULL(IsDel, 0) = 0 AND ParentId = 0;
		
	SELECT @current = count(1) FROM #TUser;

	WHILE @last != @current
	BEGIN
		SET @last = @current;
		
		--插入下一级用户
		INSERT INTO #TUser(id, parentId, level)
			SELECT U.Id, T.Id, @level + 1 FROM N_User U, #TUser T WHERE ISNULL(U.IsDel, 0) = 0 AND U.ParentId = T.Id AND T.level = @level;
			
		SELECT @current = count(1) FROM #TUser;
		SET @level = @level + 1
	END	
	/** 按用户层级由高到低生成用户临时表 End**/

	
	/** 2, 层级由高到底为用户派发16到31分红 Start**/
	DECLARE @error int = 0 --错误记数器
	DECLARE @contractId varchar(50),--临时变量，用来保存游标值
			@userId varchar(50)		--用户Id
	DECLARE @result varchar(200) --执行结果
	
	DECLARE @logTitle NVARCHAR(100) --日志
	SET @logTitle = N'发放' + CONVERT(NVARCHAR(8), @fhdate, 112) + N'分红'

	BEGIN TRY		
		BEGIN TRAN --申明事务
		
		DECLARE @ucount INT, @idx INT
		SELECT @idx = 1
		SELECT @ucount = COUNT(1) FROM #TUser
	
		WHILE @idx <= @ucount
		BEGIN
			SELECT @userId = id FROM #TUser WHERE ordered = @idx;
		
			--获取契约
			SELECT @contractId = Id FROM [N_UserContract] WHERE Type=1 AND isUsed=1 AND UserId = @userId
			
			--执行sql操作
			IF @contractId IS NOT NULL
			BEGIN
				exec FH2610OperByDate @contractId,@fhdate,@result output
			END			
			
			SET @contractId = NULL
			SET @idx = @idx + 1
		END
		
		--添加日志
		INSERT INTO Log_Sys(UserId, Title, Content, STime) VALUES(0, @logTitle, N'系统自动派发完成', GETDATE());

		COMMIT TRAN--提交事务
	END TRY
	BEGIN CATCH
		rollback tran--回滚
		
		--添加错误日志
		INSERT INTO Log_Sys(UserId, Title, Content, STime) VALUES(@userId, @logTitle, Error_Message(), GETDATE());
	END CATCH
	/** 层级由高到底为用户派发16到31分红 End**/
	
	--3, 删除临时表
	IF EXISTS(SELECT 1 FROM tempdb..sysobjects WHERE id=OBJECT_ID('tempdb..#TUser'))
		DROP TABLE #TUser;
END
