<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=.;Initial Catalog=Ticket;Persist Security Info=True;User ID=sa;Password=aA321321;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="RootUrl" value="http://localhost:8015/"/>
    <add key="CollectUse" value="False"/>
    <add key="CollectUrl" value=""/>
    <add key="DataUrl" value="D:\\Projects\\ffyule\\Lottery.FFApp\\Lottery.Collect\\Data\\"/>
    <add key="TxffcAPI" value="http://www.b1cp.com/api?p=json&amp;t=txffc&amp;limit=1&amp;token=00fb782bad8e5241" />
    <!--<add key="TxffcAPI" value="http://api.b1cp.com/t?p=json&amp;t=qqffc&amp;token=FF446B723EB25993" />-->
  </appSettings>
  <log4net debug="false">
    <root>
      <level value="WARN"/>
      <level value="INFO"/>
      <level value="DEBUG"/>
      <level value="FINE"/>
      <appender-ref ref="LogAppender"/>
    </root>
    <appender name="LogAppender" type="log4net.Appender.RollingFileAppender">
      <param name="Encoding" value="utf-8"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="File" value="log/cjlog"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
      <param name="MaximumFileSize" value="10MB"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>