<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
  </configSections>
  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=.;Initial Catalog=Ticket;Persist Security Info=True;User ID=sa;Password=aA321321;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Domain" value="localhost"/>
    <add key="RootUrl" value="http://ff-web.q960.com"/>
    <add key="DesKey" value="qazwsxed"/>
    <add key="NumberUrl" value="http://ff-xml-cj.q960.com"/>
    <add key="MachineCode" value="EMKEMEMM333736C89133E377XUZQRCTCZ6VCTJWERHKX9RQRSWZA1OUVN1Q3ASX"/>
    <add key="CollectUrl" value="http://ff-xml-cj.q960.com"/>
  </appSettings>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
    <httpRuntime maxRequestLength="1024000" executionTimeout="720"/>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0"/>
    <!--如果程序已经在本地调试成功，则上传至服务器后将debug改为false-->
    <authentication mode="Windows"/>
    <pages validateRequest="false" enableSessionState="true" enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <modules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
    </modules>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <rewriter configSource="statics\data\URLRewriter.config"/>
</configuration>